

	 <p><b>This is my very simple Pics-about-me page.</b></p>
	 <br>

<% @image_urls.each do |description, pic| %> <!-- looping through arrays of URLs -->

<a href="<%= asset_path(pic) %>">  <!-- accessing variable pics -->
<img src="<%= asset_path(pic) %>">
<br>
</a>
<p><%= description %></p>
<br>

<% end %> <!-- making sure we end our loop-->


<p><%=link_to("Back to Sitemap", "/sitemap")%></p>


</div>

<!-- <% 1.upto(100).each do |pics| %>

<img src="http://www.epicgeekdom.com/wordpress/wp-content/uploads/2013/11/epic-shit-300x300.jpg" style="width: <%= pics %>px;"/>

<% end %> -->





