<header class="navbar navbar-fixed-top navbar-inverse">
  
        <a class="navbar-brand" href="#">HIT THE GROUND RUNNING</a>
    </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to("Home", "/welcome") %></li>
        <li><%= link_to("Blogs", "/blogs") %></li>
        <li><%= link_to("About Me", "/aboutme") %></li>
        <li><%= link_to("Projects", "/projects") %></li>
        <li><%= link_to("Contact Me", "/contactme") %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
            </ul>
            </li>
            </ul>
      </div>
</header>
          


        
          
          
          
          